# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Database / Local SQLite
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Alembic
alembic.log
